
/* This is my custom css file*/

/* This is my css additions*/
body {
    font-family: "Chalkduster";
    background-color: tomato;

}

.gifs{
    margin: 10px;
}

.topics-buttons {
    margin: 5px;
    
}

p {
   font-weight: bold;
}
